<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817279090517-0dokjjj068jsl8pvq5r568p4ol88vj1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817279090517-0dokjjj068jsl8pvq5r568p4ol88vj1l</string>
	<key>API_KEY</key>
	<string>AIzaSyBvkYJ1K8UhvEhIn9cOKohJHKb6I4ktvqI123</string>
	<key>GCM_SENDER_ID</key>
	<string>817279090517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sample.app</string>
	<key>PROJECT_ID</key>
	<string>sample-6f23d</string>
	<key>STORAGE_BUCKET</key>
	<string>sample-6f23d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:817279090517:ios:9906ec2d1db6492c0179dc</string>
</dict>
</plist>
